<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>中原工-校园生活</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.css">
  <script src="../../static/jquery/jquery-3.6.0.min.js"></script>
  <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'amdin/js/echarts.js' %}"></script>
  <style>
  /* Make the image fully responsive */
    body{
        background: #dae0e5;
    }
  .bg-light {
    background-color: #212529 !important;
}
  .visit_contain{
	float:left;
	margin-top:10px;
	width:100%;
}
#history_visit{
	background:#FFF;
	margin-left: 10px;
	width:1000px;
	height:300px;
	box-shadow: #666 0px 0px 2px;
}
  </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">中原工-校园生活后台管理</a>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3"  >
        <hr class="nav flex-column" style='background-color:white; height:1px; border:none;'>
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              首页 <span class="sr-only">(current)</span>
            </a>
          </li>
                              <hr  style='background-color:white; height:1px; border:none;'/>
          <li class="nav-item">
            <a class="nav-link" href="../user">
              <span data-feather="file"></span>
              用户管理
            </a>
          </li>
                              <hr  style='background-color:white; height:1px; border:none;'/>
          <li class="nav-item">
            <a class="nav-link" href='../forum'>
              <span data-feather="shopping-cart"></span>
              论坛管理
            </a>
          </li>
                                <hr  style='background-color:white; height:1px; border:none;'/>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              表白墙管理
            </a>
          </li>
                              <hr  style='background-color:white; height:1px; border:none;'/>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              失物招领管理
            </a>
          </li>
                    <hr  style='background-color:white; height:1px; border:none;'/>

          <li class="nav-item">
            <a class="nav-link" href="../scenery">
              <span data-feather="layers"></span>
              校园风景管理
            </a>
          </li>
                </li>
                    <hr  style='background-color:white; height:1px; border:none;'/>
                    <li class="nav-item">
                        <a class="nav-link" href="../logout">
              <span data-feather="layers"></span>
               退出
            </a>
                    </li>
                    <hr  style='background-color:white; height:1px; border:none;'/>
                    <li class="nav-item"> </li>
                    <li class="nav-item"> </li>
                    <li class="nav-item"> </li>
                    <li class="nav-item"> </li>
                    <li class="nav-item"> </li>
                    <li class="nav-item"> </li>
                    <li class="nav-item"> </li>
                    <li class="nav-item"> </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                      <div class="row">

            <div class="card ml-sm-6" style="margin-top:3px;margin-left:1.65% ;width: 30rem;">
  <div class="card-body">
<div class="container">
  <div style="text-align: center"  class="row">
    <div class="col-sm-4">
      贴字数量
    </div>
    <div style="text-align: center"  class="col-sm-4">
      表白墙数量
    </div>
    <div style="text-align: center"  class="col-sm-4">
      失物招领数量
    </div>
          <div class="col-sm-4">
      {{ forum_num }}
    </div>
    <div style="text-align: center"  class="col-sm-4">
      {}表白墙数量
    </div>
    <div style="text-align: center"  class="col-sm-4">
      {}失物招领数量
    </div>
  </div>
</div>
  </div>

</div>
             <div class="card ml-sm-6" style="margin-top:3px;margin-left:3% ;width: 30rem;">
  <div class="card-body">
<div class="container">
  <div class="row">
    <div style="text-align: center"  class="col-sm-4">
      用户人数
    </div>
    <div style="text-align: center"  class="col-sm-4">
      今日动态
    </div>
    <div style="text-align: center"  class="col-sm-4">
      今日访问量
    </div>
      <hr />
          <div style="text-align: center" class="col-sm-4">
              {{ user_num }}
    </div>
    <div style="text-align: center"  class="col-sm-4">
      {{ post_num }}
    </div>
    <div style="text-align: center"  class="col-sm-4">
      {{ visit.visit_count }}
    </div>
  </div>
</div>
  </div>

</div>
    </div>

        <div class="visit_contain">
    	<div id="history_visit">
    	</div>
    </div>
    </main>
  </div>
</div>

</body>
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('history_visit'));
        // 指定图表的配置项和数据
        var option = {
			title: {
                text: '近日访问量'
            },
			xAxis: {
				type: 'category',
				data: [
                {% for days in five_day_visit %}
                    '{{ days.day }}',
                {% endfor %}]
			},
			yAxis: {
				type: 'value'
			},
			series: [{
				data: [
                {% for days in five_day_visit %}
                    {{ days.visit_count }},
                {% endfor %}
                ],
				type: 'line'
			}]
		};

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</html>
