<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>中原工-校园生活</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.css">
  <script src="../../static/jquery/jquery-3.6.0.min.js"></script>
  <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'amdin/js/echarts.js' %}"></script>
  <style>
  /* Make the image fully responsive */
    body{
        background: #dae0e5;
    }
  .bg-light {
    background-color: #212529 !important;
}

  .divcss5 {
      max-height:250px;
      _width:expression(this.height > 250 ? "250px" : this.width);
  }
    .pic02 {
      display: none;
      top: 0;
      background: rgba(0, 0, 0, 0.5);
    }

    .pic02 img {
      z-index: 100;
      position: fixed;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
    }


  </style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <!-- Brand -->
  <a class="navbar-brand" href="#">中原工-校园生活后台管理</a>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3"  >
        <hr class="nav flex-column" style='background-color:white; height:1px; border:none;'>
          <li class="nav-item">
            <a class="nav-link active" href="../home">
              <span data-feather="home"></span>
              首页 <span class="sr-only">(current)</span>
            </a>
          </li>
                              <hr  style='background-color:white; height:1px; border:none;'/>
          <li class="nav-item">
            <a class="nav-link" href="../user">
              <span data-feather="file"></span>
              用户管理
            </a>
          </li>
                              <hr  style='background-color:white; height:1px; border:none;'/>
          <li class="nav-item">
            <a class="nav-link" href="../forum">
              <span data-feather="shopping-cart"></span>
              论坛管理
            </a>
          </li>
                                <hr  style='background-color:white; height:1px; border:none;'/>
          <li class="nav-item">
            <a class="nav-link" href="../confession">
              <span data-feather="users"></span>
              表白墙管理
            </a>
          </li>
                              <hr  style='background-color:white; height:1px; border:none;'/>
          <li class="nav-item">
            <a class="nav-link" href="../lost">
              <span data-feather="bar-chart-2"></span>
              失物招领管理
            </a>
          </li>
                    <hr  style='background-color:white; height:1px; border:none;'/>

          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              校园风景管理
            </a>
          </li>
                    <hr  style='background-color:white; height:1px; border:none;'/>
                    <li class="nav-item">
                        <a class="nav-link" href="../logout">
              <span data-feather="layers"></span>
               退出
            </a>
                    </li>
                    <hr  style='background-color:white; height:1px; border:none;'/>
                    <li class="nav-item"> </li>
                    <li class="nav-item"> </li>
                    <li class="nav-item"> </li>
                    <li class="nav-item"> </li>
                    <li class="nav-item"> </li>
                    <li class="nav-item"> </li>
                    <li class="nav-item"> </li>
                    <li class="nav-item"> </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">待审核</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">审核通过</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">审核未通过</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel"aria-labelledby="nav-home-tab" >
        <div class="row">
              {% for r in r_scenery %}
                  <div class="col-sm-3 " style="margin-top:1%">
            <div class="card" style="width: 18rem;">
  <img class="card-img-top divcss5 pic01" id="pic01" src="{{ r.s_picture }}" alt="Card image cap">

  <div class="card-body">
    <p class="card-text" style="text-overflow:ellipsis;white-space: nowrap;overflow:hidden">{{ r.s_text }}</p>
      <div class="row">
          <div class="col-sm-4">
    <a href="javascript:post('',{id:'{{r.id}}' , pass :1})" class="btn btn-primary">通过</a>
                </div>
          <div class="col-sm-4">
    <a href="javascript:post('',{id:'{{r.id}}',pass: 0})" class="btn btn-primary">不通过</a>
                </div>
                    <div class="col-sm-4">
    <a href="javascript:post('',{id:'{{r.id}}',pass:3})" class="btn btn-primary">删除</a>
                </div>
                          </div>
  </div>
</div>
</div>
        {% endfor %}
</div>
    <div class="pic02">
    <img id="pic02" src="#" alt="">
  </div>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="row">
              {% for r in n_scenery %}
                  <div class="col-sm-3 " style="margin-top:1%">
            <div class="card" style="width: 18rem;">
  <img class="card-img-top divcss5 pic01" id="pic01" src="{{ r.s_picture }}" alt="Card image cap">

  <div class="card-body">
    <p class="card-text" style="text-overflow:ellipsis;white-space: nowrap;overflow:hidden">{{ r.s_text }}</p>
      <div class="row">
          <div class="col-sm-6">
    <a href="javascript:post('',{id:'{{r.id}}' , pass :1})" class="btn btn-primary">通过</a>
                </div>
                    <div class="col-sm-6">
    <a href="javascript:post('',{id:'{{r.id}}',pass:3})" class="btn btn-primary">删除</a>
                </div>
                          </div>
  </div>
</div>
</div>
        {% endfor %}
</div>
    <div class="pic02">
    <img id="pic02" src="#" alt="">
  </div>
  </div>
  <div class="tab-pane fade" id="nav-profile"  role="tabpanel" aria-labelledby="nav-profile-tab">
  <div class="row">
              {% for r in p_scenery %}
                  <div class="col-sm-3 " style="margin-top:1%">
            <div class="card" style="width: 18rem;">
  <img class="card-img-top divcss5 pic01" id="pic01" src="{{ r.s_picture }}" alt="Card image cap">

  <div class="card-body">
    <p class="card-text" style="text-overflow:ellipsis;white-space: nowrap;overflow:hidden">{{ r.s_text }}</p>
      <div class="row">

          <div class="col-sm-6">
    <a href="javascript:post('',{id:'{{r.id}}',pass: 0})" class="btn btn-primary">不通过</a>
                </div>
                    <div class="col-sm-6">
    <a href="javascript:post('',{id:'{{r.id}}',pass:3})" class="btn btn-primary">删除</a>
                </div>
                          </div>
  </div>
</div>
</div>
        {% endfor %}
</div>
    <div class="pic02">
    <img id="pic02" src="#" alt="">
  </div>
  </div>
</div>

    </main>
  </div>
</div>

</body>
<script type="text/javascript">

    $('.pic01').on('click', function () {
      var picSrc = $(this).attr('src')
      $('.pic02 img').attr('src', picSrc)
      $('.pic02').show()

    })
    $('.pic02').on('click', function () {
      $('.pic02').hide()
    })

    function post(url, params) {
    var temp = document.createElement("form"); //创建form表单
    temp.action = url;
    temp.method = "post";
    temp.style.display = "none";//表单样式为隐藏
    for (var item in params) {//初始化表单内部的控件
       //根据实际情况创建不同的标签元素
        var opt =document.createElement("input");  //添加input标签
        opt.type="text";   //类型为text
        opt.id = item;      //设置id属性
        opt.name = item;    //设置name属性
        opt.value = params[item];   //设置value属性
        temp.appendChild(opt);
    }
    console.log(temp)
    document.body.appendChild(temp);
    temp.submit();
    return temp;
}
</script>
</html>
